<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div>
  <form method="POST" action="/members/new">
    <input type="text" name="userID" placeholder="email 입력하삼"/> <br>
    <input type="text" name="userPW" placeholder="PW를 최소 8자리 최대 15자리로 설정하세요" /> <br>
    <input type="text" name="userName" placeholder="닉네임 입력하쇼"/> <br>
    <input type="text" name="userBirth" placeholder="생년월일 입력하삼" /> <br>
    <input type="text" name="userGender" placeholder="남자임 여자임" /> <br>
    <button type="submit">전송!</button>
  </form>
</div>

</body>
</html>
